@import "node_modules/bootstrap/scss/bootstrap";

$secondary-color: #FA8072;
$midnight: #191970;
$lavender: #734f96;

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
 }

 .startb {
    width: 200px;
    border-radius: 100px;
 }

 .toph {
    max-width: 500px;
 }

 .toph4 {
    max-width:500px;
 }

 input {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .farbottom {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $midnight;
    color: white;
 }

 footer {
    background-color: $midnight;
 }

 .freep p, .freep h1 {
    max-width:500px;
 }

 .carousel-inner {
    max-width:400px;
 }

 .carouselButtons button {
   padding-top: 20px;
 }

 .travel h1, .travel h4 {
    max-width: 500px;
 }

 .mobile-only {
    display: none;
 }

 .part1 {
   padding-top: 100px;
   padding-bottom: 75px;
 }

 .part2 {
   background-color: $lavender;
   color: white;
   padding-top: 100px;
   padding-bottom: 100px;
 }

 .part3 {
   padding-top: 50px;
   padding-bottom: 50px;
 }

 .part3left {
   background-color: #00bfff;
 }

 @media (max-width:390px) {
    .mobile-only {
        display: inline;
    }

    .mobile-color {
        background-color: $lavender;
        color: white;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only-margin h2, .mobile-only-margin h3, .mobile-only-margin button {
        margin-left: 20px;
        margin-right: 20px;
    }
 }