@import "node_modules/bootstrap/scss/bootstrap";

$secondary-color: #FA8072;
$midnight: #191970;
$lavender: #734f96;

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .navbar-brand {
background-color: black;
color:white;
margin-left: 50px;
 }

 .navbar-collapse {
   margin-right: 50px;
 }

 .btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
 }

 .startb {
    width: 200px;
    border-radius: 100px;
 }

 .toph {
    max-width: 500px;
 }

 .toph4 {
    max-width:500px;
 }

 input {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .farbottom {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $midnight;
    color: white;
 }

 footer {
    background-color: $midnight;
 }

 .freep p, .freep h1 {
    max-width:500px;
 }

 .carousel-inner {
    max-width:400px;
 }

 .carouselButtons button {
   padding-top: 20px;
 }

 .travel h1, .travel h4 {
    max-width: 500px;
 }

 .mobile-only {
    display: none;
 }

 .part1 {
   padding-top: 100px;
   padding-bottom: 75px;
 }

 .part2 {
   background-color: $lavender;
   color: white;
   padding-top: 100px;
   padding-bottom: 100px;
 }

 .part3 {
 }

 .part3left {
   background-color: #00bfff;
   padding-left: 20%;
   padding-right: 20%;
   height: 300px;
 }

 .part4right {
   background-color: white;
 }

 .part3left, .part3right {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 50px;
   padding-bottom: 50px;
 }

 .part4 {
   background-color: #ffece4;
   padding-top: 25px;
   padding-bottom: 25px;
 }

 .part5 {
   background-color: #D6B4FC;
   padding-top: 50px;
   padding-bottom: 100px;
 }

.img1 {
   background-image: url("snow.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 200px;
   height: 100px;
}

.img2 {
   background-image: url("stream.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 200px;
   height: 100px;
}

.img3 {
   background-image: url("winter-painting.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 200px;
   height: 100px;
}

.img4 {
   background-image: url("winterland.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 50px;
   height: 25px;
}

.img1, .img2, .img3, .img4 {

}

 .carousel-indicators [data-bs-target] {
   width: 80px;
   height: 40px;
   opacity: 100%;
   top: 90px;
   right: 10px;
   position: relative;
   margin-right: 10px;
 }
 .carousel-indicators [data-bs-target]:active {
   border: 2px black solid;
 }


 @media (max-width:390px) {
    .mobile-only {
        display: inline;
    }

    .mobile-color {
        background-color: $lavender;
        color: white;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only-margin h2, .mobile-only-margin h3, .mobile-only-margin button {
        margin-left: 20px;
        margin-right: 20px;
    }
 }